*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #faf5ed;
    text-align: center;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.main::before, .main::after {
    content: '';
    position: absolute;
    width: 400%;
    height: 500%;
    left: 50%;
    background-color: #faf5ed;
    border-radius: 50%;
    translate: -50% 0;
}

.main::before {
    top: -480%;
    z-index: 2;
}

.main::after {
    bottom: -480%;
    z-index: 0;
}

.outer {
    position: absolute;
    display: flex;
    overflow-x: scroll;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.inner {
   position: relative;
   aspect-ratio: 4 / 3;
}

.slide * {
    margin-top: 20%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide {
    width: 100%;
    height: 100%;
    border: 15px solid #faf5ed;
    background-size: cover;
    background-color:antiquewhite;
}

.title {
    position: relative;
    z-index: 5;
    top: 15vh;
    margin-bottom: 15vh;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 3vh;
}

.title h1 {
    font-size: 8vh;
}

#school-sub {
    font-size: 2.5vh;
    margin-bottom: 3vh;
}

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }

  .slide button {
    height: 10vh;
    width: fit-content;
    font-size: 4vh;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: 0.5vh solid white;
    margin-top: 32vh;
  }

  .slide button:hover {
    cursor: pointer;
    color: #998243;
    border: 0.5vh solid #998243;
  }

  #me-slide {
    background-image: url("carousel-img/me.jpg");
  }

  #exp-slide {
    background-image: url("carousel-img/e-slide.png");
    background-position-x: center;
    background-position-y: 5vh;
  }

  #p-slide {
    background-image: url("carousel-img/mtracker-code.png");
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: right;
    background-color: rgba(240, 231, 218, 0.5);
  }

  
  .navbar a {
    font-size: 3vh;
    margin-right: 5vh;
    margin-top: auto;
    margin-bottom: auto;
    color: black;
    text-decoration: none;
  }

  .navbar a:hover {
    color: #998243;
  }